<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Devs Portfolio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-card id="prof">
   
    <ion-card-header>
      <ion-card-title><a href="https://www.facebook.com/original.ssssicnarf" target="_blank"><b>Francis Garcia</b></a></ion-card-title>
      <img class="displayed" src="./assets/img/BISHOP-4.JPG">
      <ion-card-subtitle>
        <ion-chip>
          <ion-icon name="checkmark" color="primary"></ion-icon> 
          <ion-label>Graphics Designer
          </ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Project Manager</ion-label>
        </ion-chip>
        
        <ion-chip>
          <ion-label>Brand Owner</ion-label>
        </ion-chip>
      </ion-card-subtitle>
      
    </ion-card-header>
    <ion-card-content>
      <p><b>Francis Garcia </b>Im a Graphics Designer and I want to bring my art in App Development</p>
      
     </ion-card-content>
  </ion-card>
  <ion-content>
    <div class="dashboard-container">
      <ion-card class="dashboard-card">
        <ion-card-header>
          <ion-card-title>HOBBIES / LIKES</ion-card-title>
          I like taking pictures of the moments and what wahahahah <br>
          My hobbies are capturing special moments and immortalizing it.
          I also love doing digital art. 
        </ion-card-header>
        <ion-card-content>
          <!-- Add your analytics content here -->
        </ion-card-content>
      </ion-card>
  
      <ion-card class="dashboard-card">
        <ion-card-header>
          <ion-card-title>TALENTS</ion-card-title>
          mag drums 
        </ion-card-header>
        <ion-card-content>
          <!-- Add your tasks content here -->
        </ion-card-content>
      </ion-card>
  
      <ion-card class="dashboard-card">
        <ion-card-header>
          <ion-card-title>SKILLS</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-chip>
            
            <ion-label>Photoshop
            </ion-label>
          </ion-chip>
          <ion-chip>
            <ion-label>Adobe Illustrator</ion-label>
          </ion-chip>
          
          <ion-chip>
            <ion-label>Brand Design</ion-label>
          </ion-chip>
          <!-- Add your messages content here -->

          <ion-list>
            <ion-item>
              <ion-label>Magpamanipulate sa maling tao</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Mag overthink</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Maging anemic</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Plays music</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Ilocano</ion-label>
            </ion-item>
          </ion-list>
          
        </ion-card-content>
      </ion-card>
    </div>
    
    <h1 id="yrs"> WHERE AM I IN 5 YEARS?</h1>
    <div id="yrs"> I want to start my clothing brand business and be a fulltime artist,
      5 years from now I see myself having that brand business.
      And sana 5 years from now di na ko jabetik asf.
    </div>
    
    <h1 id="yrs"> Strength & Weakneses </h1>
    <div id="yrs"> Strengths💪💪💪💪💪💪 <br>
      mag photomanipulation 18hrs straught <br>
      <br>
      Weakneses 😩😩😩😩😩😩 <br>
      mag push sa git repository.
    </div>
<h1 id="yrs"> ===============================</h1>
<h1 id="yrs"> LOVE LANGUAGE</h1>
    

    <h1 id="yrs">KUNG PAGKAIN KA ANO KA? </h1>
    <h1 id="yrs"> SOUP NO. 5</h1>
    <img class="displayed" src="./assets/img/a6158445-0aee-4a68-b9f1-0afbc69c768f9fb4dee5f2b8e246db_16908779_1753503748295295_1215219820551733248_n.jpg">
    <strong> BAKIT??? </strong> kasi: HEHEHEHEH
    <h1>PET PEEVE</h1>
    <p> MAINGAY KUMAINNNNNNNN!!!!!!!!!!!!</p>
  </ion-content>

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button>
      <ion-icon color ="light" name="globe-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button target="_blank" href="https://github.com/r4mz3r0" color="light">
        <ion-icon  name="logo-github"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  
</ion-content>

